<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="common-style/common-style.css">
	<link rel="stylesheet" href="forget-password/forget-password.css">
	<title>找回密码</title>
</head>
<body ng-controller="loginCtrl">

	<div class="find_password_box">
		<h2 class="title">找回密码</h2>
		<table class="find_password_table">
			<tr>
				<td class="first_td">注册邮箱：</td>
				<td><input type="text" placeholder="注册邮箱" ng-model="username"></td>
			</tr>
			<tr>
				<td class="first_td">验证码：</td>
				<td class="code_box">
					<input type="text" placeholder="验证码" ng-model="inpuCcode">
					<span class="code">{{code}}</span>
					<span class="red code_erro_tip">{{codeErroTip}}</span>
				</td>
			</tr>
		</table>
		<div class="btn_box">
			<button type="button" ng-click="validate()">提交</button>
			<button type="button">
				<a href="./login.html">取消</a>
			</button>
		</div>
	</div>

	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/common.js"></script>
	<script src="service/request.js"></script>
	<script src="forget-password/forget-password.js"></script>
</body>
</html>