<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>XXX</title>
	<link rel="stylesheet" href="common-style/common-style.css">
	<link rel="stylesheet" href="directive/header/header.css">
	<link rel="stylesheet" href="base-data/base-data-store.css">
</head>
<body ng-controller="baseDataStoreCtrl">
	<div class="main">
		<header></header>
		
		<div class="body">
			<div class="filter">
				<div class="filter_input">
					<span class="">门店代码：</span><input type="text" ng-model="storeCodeFilter">
					<span class="">门店名称：</span><input type="text" ng-model="storeNameFilter">
					<span class="">门店地址：</span><input type="text" ng-model="storeAddressFilter">
					<span class="">状态：</span><select ng-model="currentStatusFilter" ng-options="status for status in statusList"></select>
				</div>
				<div class="filter_btns">
					<button type="button" ng-click="search()">搜索</button>
					<button type="button" ng-click="reset()">重置</button>
					<button type="button" ng-click="delete()">批量删除</button>
					<button type="button" ng-click="add('store-table')">新建</button>
				</div>
			</div>
			<table class="data_table" id="customers">
				<tr>
					<!-- <th></th> -->
					<th class="check_box">
						<input class="inp" ng-click="selectAll()" type="checkbox" ng-model="isSelectedAll">
					</th>
					<th>门店代码</th>
					<th>门店名称</th>
					<th>地址</th>
					<th>创建时间</th>
					<th>创建人</th>
					<th>状态</th>
				</tr>
				<tr ng-repeat="item in lists" class="data_item" ng-dblclick="edit($index)">
					<!-- <td>{{item.index}}</td> -->
					<td class="check_box"><input type="checkbox" ng-model="item.isSelected"></td>
					<td>{{item.storeCode}}</td>
					<td>{{item.storeName}}</td>
					<td>{{item.storeAddress}}</td>
					<td>{{item.createTime}}</td>
					<td>{{item.creater}}</td>
					<td>{{item.status}}</td>
				</tr>
			</table>
		</div>
		<pagination list="lists" pagefn="getOrderList" pageargs="pageSearchList" class="page-bar s3 jump-hide right ng-isolate-scope"></pagination>
	</div>
	<div class="cover">
		<form enctype="multipart/form-data" action="" method="post" class="new_item_box" name="store-datas">
		    <table id="store-table">
		        <tr>
		            <td class="first_td"><label for="txtcode">门店编码：</label></td>
		            <td><input type="text" id="txtcode" name="storeCode" ng-model="storeCode" /><span class="red necessary_info">*必填</span></td>
		        </tr>
		        <tr>
		            <td class="first_td"><label for="txtname">门店名称：</label></td>
		            <td><input type="text" id="txtname" name="storeName" ng-model="storeName" /><span class="red necessary_info">*必填</span></td>
		        </tr>
		        <tr>
		            <td class="first_td"><label for="txtpswd">地址：</label></td>
		            <td><input type="text" id="txtpswd" name="storeAddress" ng-model="storeAddress" /></td>
		        </tr>
		        <tr>
		        	<td class="first_td"><label for="txtPhone">电话：</label></td>
		            <td><input type="text" id="txtPhone" name="phone" ng-model="phone" /></td>
		        </tr>
		        <tr>
		        	<td class="first_td"><label for="status">状态：</label></td>
		        	<td class="first_td">
		        		<input type="radio" name="status" value="Y" id="normal">正常
		        		<input type="radio" name="status" value="N" id="closed">关闭
		        	</td>
		        </tr>
		    </table>
		    <button type="button" ng-click="cancel()" class="add_btn_cancel">取消</button>
			<button type="button" ng-click="save('store-datas', 'store-table')" class="add_btn_save">保存</button>
		</form>	
	</div>

	<!-- <button class="btn btn-success" onClick="$('#customers').tableExport({type: 'excel', escape: 'false'});">Excel Export</button> -->
	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/common.js"></script>
	<script src="service/request.js"></script>
	<script src="base-data/base-data-store.js"></script>
	<script src="directive/pagination.js"></script>
	<script src="directive/header/header.js"></script>
</body>
</html>