.find_password_box {
	position: absolute;
	left: 50%;
	top: 50%;
	
	width: 500px;
	height: 300px;

	margin-left: -250px;
	margin-top: -150px;

	background: #fff;
	text-align: center;

}
.find_password_table {
	width: 350px;
	border: none;
	margin-bottom: 50px;
	margin-left: 32px;
}
.find_password_table td {
	border: none;
	text-align: left;
	padding: 15px 0;
	height: 32px;
}
.code_box {
	position: relative;
}
.code {
	position: absolute;
	left: 0;
	bottom: -32px;
	border: 1px solid #ccc;
	height: 32px;
	width: 100px;
	background: url('../images/code-bg.gif') 0 0 no-repeat;
	font-size: 20px;
	letter-spacing: 6px;
	line-height: 32px;
	text-align: center;
}

.find_password_box .first_td {
	width: 100px;
	text-align: right;
}
.find_password_box input {
	height: 100%;
	width: 100%;
}

.red {
	color: red;
}
.code_erro_tip {
	position: absolute;
	left: 0;
	top: 0;
}